dist: bionic

env:
  global:
    - secure: Jt43noMqhnDvN3uXElNKYPw3ARS27NhkNvoxpZtLEYPrv2XFvurYGpAI8uTRD3eemA/WTucUtZETK0CijgjYiytueLJFftxrBKB5nTGTPI/PCLAFCVfNI2S4qBFhW2I/NCj2cTsov6TT3toiJsrtaLaSdXvtOyZddkF983/JbLbiJ0jo/vERbcO7nSNPJRNaESPr/Ce7IrU0y6g6qHc/Msx2Bj4lOJMDGUDw36TsxnmtmOwRqDNnprqIwMnT2BrSveqJ9jYKJqmjlKdBmk2pCW3x2SiCbSOPOipdNAl912BLQPdAnJOHj87WGXOErHkBRKKnIkag1gnkrcEP0JN5l5tyzIk2CZFsWgJEM2yb8fI6QLLq79RjfDsQ9zA+EpBXlWU2r/4lAHsWwOQT9WQJ/uFjWQFaOqSjaoD2I/MySr4aEst1hbJfpuM/mqC2C0GnSxFtmS44Ro4pv0BPbEdkhmgwH95t08LKdDU8yJmPPUNBcevnn9IYUqcLZVU03T/11vMeeX0ruUw4QRL/Qh2NRsNefs6NfZ4T5vkA1DF/SnAXJWHfnA+N7iGltPTqC+iatUNdFmvPw2dYrOatB5goDJZyzATcSBAiAnytNHh+HxBtFJDvANo4TdhVVU3rTWjL1ps+dDS6PSAU/ocKOugDdBTZixMUu/RrsaaCW4NuNhM=
    - GIT_NAME: Travis CI
    - GIT_EMAIL: mitchellkrog@gmail.com
    - TRAVIS_REPO_SLUG: mitchellkrogza/nginx-ultimate-bad-bot-blocker
    - GIT_BRANCH: master

matrix:
  fast_finish: true

before_install:
  - export TZ=Africa/Johannesburg

addons:
    apt:
        packages:
        - mailutils

install:
  - sudo add-apt-repository -y ppa:nginx/stable
  - sudo apt-get update
  - sudo apt-get install -y --assume-yes nginx-extras
  - sudo apt-get -y install dos2unix

script:
  # GENERATE BLOCKER FILES
  - bash .dev-tools/generate-files.sh
  # THE NEWLY GENERATED BLOCKER FILES
  - bash .dev-tools/install-nginx-1.sh
  - bash .dev-tools/test-blocker-false-positives.sh
  - bash .dev-tools/test-blocker-quick.sh
  - bash .dev-tools/test-blocker-badwords.sh
  - bash .dev-tools/test-blocker-whitelist-domains.sh
  - bash .dev-tools/test-blocker-whitelist-ips.sh
  - bash .dev-tools/test-blocker-rate-limiting.sh
  - bash .dev-tools/test-blocker-whitelist.sh
  # TEST install-ngxblocker update-ngxblocker and setup-ngxblocker
  - bash .dev-tools/install-nginx-2.sh
  - bash .dev-tools/test-nginx-2.sh
  - bash .dev-tools/install-nginx-3.sh
  - bash .dev-tools/test-nginx-3.sh
  - bash .dev-tools/test-setupngxblocker.sh
  # TEST ANY NEW CHANGES TO THE BLOCKER
  - bash .dev-tools/install-nginx-1.sh
  - bash .dev-tools/beta-install-nginx-testing-of-changes.sh
  - bash .dev-tools/beta-test-blocker-false-positives.sh
  - bash .dev-tools/beta-test-blocker.sh
  - bash .dev-tools/beta-test-blocker-badwords.sh
  - bash .dev-tools/beta-test-blocker-whitelist-domains.sh
  - bash .dev-tools/beta-test-blocker-whitelist-ips.sh
  - bash .dev-tools/beta-test-blocker-rate-limiting.sh
  - bash .dev-tools/beta-test-blocker-whitelist.sh
  # TEST NGINX MAINLINE
  - bash .dev-tools/install-nginx-mainline-ppa.sh
  - bash .dev-tools/test-nginx-mainline-ppa.sh
  - bash .dev-tools/install-nginx-mainline-nginx.sh
  - bash .dev-tools/test-nginx-mainline-nginx.sh
  # IF ALL TESTS PASSED - COMMIT AND DEPLOY BUILD
  - bash .dev-tools/modify-files-and-commit.sh

before_deploy:
  - bash .dev-tools/deploy-package.sh

deploy:
  provider: releases
  api_key:
    secure: ${GH_TOKEN}
  file:
      - .latest_release/conf.d.tar.gz
      - .latest_release/bots.d.tar.gz
  skip_cleanup: true
  on:
    repo: mitchellkrogza/nginx-ultimate-bad-bot-blocker
    tags: false
    branches:
        only:
         - "master"
      except:
        - "/^v[0-9]/"
        - "/^V.*$/"
notifications:
  on_success: change
  on_failure: always
