server {
 	

# Nginx Bad Bot Blocker Includes
	include /etc/nginx/bots.d/ddos.conf; 
 	include /etc/nginx/bots.d/blockbots.conf;
 
	listen *:9000;

	root /var/www/html;
	server_name localhost;
	charset UTF-8;
	index index.html;

    location / {
      root /var/www/html/;
        }
}
