server {
	listen 80 default_server;
	listen [::]:80 default_server;
	server_name localhost;
	charset UTF-8;
 	

    ##
    # Nginx Bad Bot Blocker Includes
    # REPO: https://github.com/mitchellkrogza/nginx-ultimate-bad-bot-blocker
    ##
	include /usr/local/nginx/bots.d/ddos.conf; 
 	include /usr/local/nginx/bots.d/blockbots.conf;
 
	index index.html;
	root /var/www/html;

	# Add index.php to the list if you are using PHP
	index index.html index.htm index.nginx-debian.html;

    location / {
      root /var/www/html/;
        }
}
